//topic
$color-primary: #0069f5;
//message
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;
//text
$color-text-primary: #303133;
$color-text-regular: #606266;
$color-text-secondary: #909399;
$color-text-placeholder: #C0C4CC;
//border
$color-border-base: #DCDFE6;
$color-border-light: #E4E7ED;
$color-border-lighter: #EBEEF5;
$color-border-extra-light: #F2F6FC;
//bg
$color-background-white: #FFFFFF;
$color-background-black: #000000;
$color-background-base: #f5f7fa;
$color-background-input: #e8e8e8;
//other
$color-other-turquoise: #1abc9c;
$color-other-green: #16a085;
$color-other-emerald: #2ecc71;
$color-other-nephritis: #27ae60;
$color-other-peter-river: #3498db;
$color-other-belize-hole: #2980b9;
$color-other-amethyst: #9b59b6;
$color-other-wisteria: #8e44ad;
$color-other-wet-asphalt: #34495e;
$color-other-midnight-blue: #2c3e50;
$color-other-sun-flower: #f1c40f;
$color-other-orange: #f39c12;
$color-other-carrot: #e67e22;
$color-other-pumpkin: #d35400;
$color-other-alizarin: #e74c3c;
$color-other-pomegranate: #c0392b;
$color-other-clouds: #ecf0f1;
$color-other-silver: #bdc3c7;
$color-other-concrete: #95a5a6;
$color-other-asbestos: #7f8c8d;


$app-grey-00: #000000;
$app-grey-33: #333333;
$app-grey-66: #666666;
$app-grey-99: #999999;
$app-grey-bb: #BBBBBB;
$app-grey-dd: #DDDDDD;
// use on no status bg
$app-grey-f2: #F2F2F2;
// dark in zebra crossing
$app-grey-fa: #FAFAFA;
// text-color on drak bg
$app-grey-ff: #FFFFFF;