@import '../variable.scss';

$border-map: (
        bdt: border-top,
        bdr: border-right,
        bdb: border-bottom,
        bdl: border-left,
        bdx: border-x,
        bdy: border-y,
        bda: border,
);
@each $key, $val in $border-map {
    .#{$key} {
        @if $val == border-x {
            border-left: 1px solid $app-grey-dd;
            border-right: 1px solid $app-grey-dd;
        } @else if $val == border-y {
            border-top: 1px solid $app-grey-dd;
            border-bottom: 1px solid $app-grey-dd;
        } @else {
            #{$val}: 1px solid $app-grey-dd;
        }
    }
}

$radius-step: 2;
$radius-start: 0;
$radius-end: 5;
.bdrs {
    @for $index from $radius-start to $radius-end {
        $size: $index * $radius-step;

        &#{$size} {
            border-radius: #{$size}px !important;
        }
    }
}
