.fz10 {
  font-size: 10px !important;
}

.fz12 {
  font-size: 12px !important;
}

.fz14 {
  font-size: 14px !important;
}

.fz16 {
  font-size: 16px !important;
}

.fz18 {
  font-size: 18px !important;
}

.fz20 {
  font-size: 20px !important;
}

.fz22 {
  font-size: 22px !important;
}

.fz24 {
  font-size: 24px !important;
}

.fz26 {
  font-size: 26px !important;
}

.fz28 {
  font-size: 28px !important;
}

.fz30 {
  font-size: 30px !important;
}

.fz32 {
  font-size: 32px !important;
}

.fz34 {
  font-size: 34px !important;
}

.fz36 {
  font-size: 36px !important;
}

.fz38 {
  font-size: 38px !important;
}

.fz40 {
  font-size: 40px !important;
}

.fz42 {
  font-size: 42px !important;
}

.fz44 {
  font-size: 44px !important;
}

.fz46 {
  font-size: 46px !important;
}

.fz48 {
  font-size: 48px !important;
}

.fz50 {
  font-size: 50px !important;
}